body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: orange;
}
h1{
    font-size: 56px;
}
.navb>.dans>a{
    color: white;
    font-weight: bold;
    font-size:50px;
    margin-left: 50px;
}
.navb>.dans>.link>.ms-auto>a{
    color: white;
    font-weight: bold;
    font-size:25px;
    margin-left: 15px;
}
.navb>.dans>.link{
    margin-right: 30px;
}


.img{
    height: 700px;
}
.name{
    margin-top: 180px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    background: orange;
    color: black;
}

.projects{
    align-items: center;
 
}
.projects .proj h1{
    text-align: center;
}
.projects>.proj>p{
    font-size: 30px;
}
.projects .proj h3{
    text-align: center;
    padding: 15px;
    font-size: 35px;
}
.projects .proj .row p{
    font-size:22px;
}
.sp{
    color: black;
}

.box{
    border: none;
    border-radius:10px;
    height: 400px;
    margin-top:10px;
    width:450px;
    box-shadow: 1px 5px rgb(177, 177, 238);  
    

}
.row{
    margin-left: 30px;
}


/* skill section */
.abt{
    font-size:25px;
    
}
.about{
    display: flex;
    justify-content: space-between;
}
h3,h4{
    margin-top:60px;
}

.prog{
   width: 40%;
   margin-right: 0px;
    
}
.fb{
    font-size: 50px;
    
}
.ln{
    font-size: 50px;
    
}
.gt{
    font-size: 50px;
    
}
.gt, .fb, .ln{
    margin-right: 20px;
}
.footer {
    float: right;
}
.foote .footer h5{
    display: inline;
    font-size:25px;
    color: orange;
    margin:20px;
}
.foote>h5{
    color: black;
    font-size:25px;
    margin-top: 10px;
}
