body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
h1, h3, h4, h5{
    font-weight: bold;
    color: orange;
}
h3,h4{
    font-size: 30px;
}
h1{
    font-size: 40px;
}
.navb>.dans>a{
    color: white;
    font-weight: bold;
    font-size:40px;
    margin-left: 50px;
}
.navb>.dans>.link>.ms-auto>a{
    color: white;
    font-weight: bold;
    font-size:20px;
    margin-left: 15px;
}
.navb>.dans>.link{
    margin-right: 15px;
}
.lead{
    font-size: 20px;
}
.img{
    height: 500px;
}
.name{
    margin-top: 180px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    background: orange;
}
.btn{
    border-radius: 40px;
    font-size:20px;
    font-weight: bold;
}
.projects{
    align-items: center;
}
.projects .proj h1{
    text-align: center;
}
.projects>.proj>p{
    font-size: 20px;
    font-style: italic;
    padding: 5px 0px 0px 95px;
}
.projects .proj h3{
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
.projects .proj .row p{
    font-size:15px;
}
.sp{
    color: black;
}
.spa{
    color: orange;
}
.box{
    border: none;
    border-radius:10px;
    height: 400px;
    margin-top:10px;
    width:350px;
    box-shadow: 1px 5px rgb(177, 177, 238);  
}
.row{
    margin-left: 30px;
}
.abt{
    font-size:20px; 
}
.abot{
    text-align:center;
}
.about{
    display: flex;
    justify-content: space-between;
}
h3,h4{
    margin-top:40px;
}

.prog{
   width: 40%;
   margin-right: 0px;
}
.fb{
    font-size: 50px;
}
.ln{
    font-size: 50px;  
}
.gt{
    font-size: 50px;  
}
.gt, .fb, .ln{
    margin-right: 20px;
}
.footer {
    float: right;
}
.foote{
    margin-right: 120px;
}
.foote .footer h5{
    display: inline;
    font-size:20px;
    color: orange;
    margin:20px;
}
.foote>h5{
    color: black;
    font-size:25px;
    margin-top: 10px;
    margin-left: 50px;
}
