/* .navbar{
    height: 90px;
} */

.img{
    height: 700px;
}
.name{
    margin-top: 180px;
}

.projects{
    
   
    align-items: center;
    
}

.box{
    border: none;
    border-radius:10px;
    height: 400px;
    margin-top:10px;
    width:350px;
    box-shadow: 1px 5px rgb(177, 177, 238);  

}
.row{
    margin-left: 30px;
}


/* skill section */
.about{
    display: flex;
    justify-content: space-between;
}
.prog{
   width: 40%;
   margin-right: 0px;
    
}